.App {
  text-align: center;
  margin-top: 10px;
  padding: auto;

}
.dropzone-div {
  text-align: center;
  padding: 20px;
  border: 3px gray dashed;
  width: 50%;
  margin: auto;
  padding: auto;
  font-family: 'Times New Roman', Times, serif;
 
}


